<p id="notice"><%= notice %></p>

<h1>Listing Meassures</h1>

<table>
  <thead>
    <tr>
      <th>Day</th>
      <th>Metric</th>
      <th>Value</th>
      <th>Test</th>
      <th>Patient</th>
      <th>Specialist</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @meassures.each do |meassure| %>
      <tr>
        <td><%= meassure.day %></td>
        <td><%= meassure.metric_id %></td>
        <td><%= meassure.value %></td>
        <td><%= meassure.test_id %></td>
        <td><%= meassure.patient_id %></td>
        <td><%= meassure.specialist_id %></td>
        <td><%= link_to 'Show', meassure %></td>
        <td><%= link_to 'Edit', edit_meassure_path(meassure) %></td>
        <td><%= link_to 'Destroy', meassure, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Meassure', new_meassure_path %>
